In [ ]:
ASSIGNMENT NOTEBOOK

In [ ]:
1:Mailing Address

In [1]:
name= input("please enter name:")
landmark= input("please enter landmark:")
address= input("please enter address:")
pincode= int(input("please enter pincode"))
print("To","\n",name,"\n",landmark,"\n",address,"\n",pincode)

please enter name:tenzin
please enter landmark:opp to axis atm
please enter address:ejipura ram temple
please enter pincode560047
To
 tenzin
 opp to axis atm
 ejipura ram temple
 560047

In [ ]:
2. Printing user name

In [2]:
user=input("Please enter your name :")
print("Hello and welcome",user)

Please enter your name :tenzin
Hello and welcome tenzin

In [ ]:
3. width and length of the room

In [3]:
length=float(input("Please enter the lenght in ms:"))
width=float(input("Please enter the width ms:"))
area=length*width
print("The area of the room is ",area,"ms")

Please enter the lenght in ms:10
Please enter the width ms:10
The area of the room is  100.0 ms

In [ ]:
4. Farmers field in acres

In [4]:
field1=float(input("Please enter the length of the field in ft:"))
field2=float(input("Please enter the width of the field in ft"))
area_field=(field1*field2)/43560
print("The are of the field is",area_field,"acres")

Please enter the length of the field in ft:10
Please enter the width of the field in ft20
The are of the field is 0.004591368227731864 acres

In [ ]:
5. tip and tax of the meal

In [5]:
meal=float(input("The price for the pasta is:"))
tax= meal%8
tip=meal//18
total=meal+tax+tip
print("Your total bill is: ",total,"\n","Pasta: ",meal,"\n","TAX & VAT:",tax,"\n","TIP: ",tip)

The price for the pasta is:650
Your total bill is:  688.0
 Pasta:  650.0
 TAX & VAT: 2.0
 TIP:  36.0

In [ ]:
6. Simple Calculations

In [6]:
a=int(input("Please enter a number:"))
b=int(input("Please enter a number:"))
total=a+b
dif=b-a
prod=(a*b)
quo=(a%b)
rem=a/b

print("The sum is :",total)
print("The differnce is : ",dif)
print("The product of the two number is : ",prod)
print("The quotient of the numbers are: ",quo)
print("The remainder of the two numbers are : ",rem)

Please enter a number:10
Please enter a number:20
The sum is : 30
The differnce is :  10
The product of the two number is :  200
The quotient of the numbers are:  10
The remainder of the two numbers are :  0.5

In [ ]:
7. Checking square or rectangle

In [7]:
length=int(input("please enter the length:"))
width=int(input("please enter the width:"))
if length==width:
    print("The shape you were looking for is a square")
else:
    print("The shape you were looking for is a rectangle ")

please enter the length:10
please enter the width:10
The shape you were looking for is a square

In [ ]:
8. A shop will give discount of 10% if the cost of purchased quantity is more than 1000.

In [9]:
quantity=int(input("Please enter the quantity"))
total=quantity*100
if total>=1000 :
    value=(total*0.1)
    print("The total billed amt is",total,"Rs","and the total price after discount is",total-value)
else:
    print("The total billed amt is ",total,"Rs")

Please enter the quantity10
The total billed amt is 1000 Rs and the total price after discount is 900.0

In [ ]:
9.A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years.

In [10]:
salary=int(input("please enter your salary:"))
yos=int(input("please enter your years of service :"))
if yos>=5:
    bonus=(salary*0.05)
    print("As you have worked with our company for more than five years your new salary will be",bonus+salary)
else:
   print( "your salary as of now is :",salary)

please enter your salary:10000
please enter your years of service :6
As you have worked with our company for more than five years your new salary will be 10500.0

In [ ]:
10. Take input of age of 3 people by user and determine oldest and youngest among them.

In [11]:
user_1=int(input("Please enter first age"))
user_2=int(input("Please enter second age"))
user_3=int(input("Please enter third age"))
if user_1>user_2 and user_1>user_3:
    print("The first user is the oldest of all ")
elif user_2>user_1 and user_2>user_3:
    print("The second user is the oldest of all ")
elif user_3>user_1 and user_3>user_2:
    print("The third user is the oldest of all ")
else:
    print("Enter correct age")
if user_1<user_2 and user_1<user_3:
    print("The first user is the youngest of all ")
elif user_2<user_1 and user_2<user_3:
    print("The second user is the youngest of all ")
elif user_3<user_1 and user_3<user_2:
    print("The third user is the youngest of all ")
else:
    print("Enter correct age")

Please enter first age20
Please enter second age20
Please enter third age30
The third user is the oldest of all
Enter correct age

In [ ]:
11.  Write a Python program to find those numbers which are divisible by 7 and multiple of 5,### between 1500 and 2700

In [12]:
for z in range(1500,2700):
    if z%7==0:
        print(z,"is divisble by 7")
        continue
    elif z%5==0:
        print(z,"is divisble by 5")
        continue

1500 is divisble by 5
1505 is divisble by 7
1510 is divisble by 5
1512 is divisble by 7
1515 is divisble by 5
1519 is divisble by 7
1520 is divisble by 5
1525 is divisble by 5
1526 is divisble by 7
1530 is divisble by 5
1533 is divisble by 7
1535 is divisble by 5
1540 is divisble by 7
1545 is divisble by 5
1547 is divisble by 7
1550 is divisble by 5
1554 is divisble by 7
1555 is divisble by 5
1560 is divisble by 5
1561 is divisble by 7
1565 is divisble by 5
1568 is divisble by 7
1570 is divisble by 5
1575 is divisble by 7
1580 is divisble by 5
1582 is divisble by 7
1585 is divisble by 5
1589 is divisble by 7
1590 is divisble by 5
1595 is divisble by 5
1596 is divisble by 7
1600 is divisble by 5
1603 is divisble by 7
1605 is divisble by 5
1610 is divisble by 7
1615 is divisble by 5
1617 is divisble by 7
1620 is divisble by 5
1624 is divisble by 7
1625 is divisble by 5
1630 is divisble by 5
1631 is divisble by 7
1635 is divisble by 5
1638 is divisble by 7
1640 is divisble by 5
1645 is divisble by 7
1650 is divisble by 5
1652 is divisble by 7
1655 is divisble by 5
1659 is divisble by 7
1660 is divisble by 5
1665 is divisble by 5
1666 is divisble by 7
1670 is divisble by 5
1673 is divisble by 7
1675 is divisble by 5
1680 is divisble by 7
1685 is divisble by 5
1687 is divisble by 7
1690 is divisble by 5
1694 is divisble by 7
1695 is divisble by 5
1700 is divisble by 5
1701 is divisble by 7
1705 is divisble by 5
1708 is divisble by 7
1710 is divisble by 5
1715 is divisble by 7
1720 is divisble by 5
1722 is divisble by 7
1725 is divisble by 5
1729 is divisble by 7
1730 is divisble by 5
1735 is divisble by 5
1736 is divisble by 7
1740 is divisble by 5
1743 is divisble by 7
1745 is divisble by 5
1750 is divisble by 7
1755 is divisble by 5
1757 is divisble by 7
1760 is divisble by 5
1764 is divisble by 7
1765 is divisble by 5
1770 is divisble by 5
1771 is divisble by 7
1775 is divisble by 5
1778 is divisble by 7
1780 is divisble by 5
1785 is divisble by 7
1790 is divisble by 5
1792 is divisble by 7
1795 is divisble by 5
1799 is divisble by 7
1800 is divisble by 5
1805 is divisble by 5
1806 is divisble by 7
1810 is divisble by 5
1813 is divisble by 7
1815 is divisble by 5
1820 is divisble by 7
1825 is divisble by 5
1827 is divisble by 7
1830 is divisble by 5
1834 is divisble by 7
1835 is divisble by 5
1840 is divisble by 5
1841 is divisble by 7
1845 is divisble by 5
1848 is divisble by 7
1850 is divisble by 5
1855 is divisble by 7
1860 is divisble by 5
1862 is divisble by 7
1865 is divisble by 5
1869 is divisble by 7
1870 is divisble by 5
1875 is divisble by 5
1876 is divisble by 7
1880 is divisble by 5
1883 is divisble by 7
1885 is divisble by 5
1890 is divisble by 7
1895 is divisble by 5
1897 is divisble by 7
1900 is divisble by 5
1904 is divisble by 7
1905 is divisble by 5
1910 is divisble by 5
1911 is divisble by 7
1915 is divisble by 5
1918 is divisble by 7
1920 is divisble by 5
1925 is divisble by 7
1930 is divisble by 5
1932 is divisble by 7
1935 is divisble by 5
1939 is divisble by 7
1940 is divisble by 5
1945 is divisble by 5
1946 is divisble by 7
1950 is divisble by 5
1953 is divisble by 7
1955 is divisble by 5
1960 is divisble by 7
1965 is divisble by 5
1967 is divisble by 7
1970 is divisble by 5
1974 is divisble by 7
1975 is divisble by 5
1980 is divisble by 5
1981 is divisble by 7
1985 is divisble by 5
1988 is divisble by 7
1990 is divisble by 5
1995 is divisble by 7
2000 is divisble by 5
2002 is divisble by 7
2005 is divisble by 5
2009 is divisble by 7
2010 is divisble by 5
2015 is divisble by 5
2016 is divisble by 7
2020 is divisble by 5
2023 is divisble by 7
2025 is divisble by 5
2030 is divisble by 7
2035 is divisble by 5
2037 is divisble by 7
2040 is divisble by 5
2044 is divisble by 7
2045 is divisble by 5
2050 is divisble by 5
2051 is divisble by 7
2055 is divisble by 5
2058 is divisble by 7
2060 is divisble by 5
2065 is divisble by 7
2070 is divisble by 5
2072 is divisble by 7
2075 is divisble by 5
2079 is divisble by 7
2080 is divisble by 5
2085 is divisble by 5
2086 is divisble by 7
2090 is divisble by 5
2093 is divisble by 7
2095 is divisble by 5
2100 is divisble by 7
2105 is divisble by 5
2107 is divisble by 7
2110 is divisble by 5
2114 is divisble by 7
2115 is divisble by 5
2120 is divisble by 5
2121 is divisble by 7
2125 is divisble by 5
2128 is divisble by 7
2130 is divisble by 5
2135 is divisble by 7
2140 is divisble by 5
2142 is divisble by 7
2145 is divisble by 5
2149 is divisble by 7
2150 is divisble by 5
2155 is divisble by 5
2156 is divisble by 7
2160 is divisble by 5
2163 is divisble by 7
2165 is divisble by 5
2170 is divisble by 7
2175 is divisble by 5
2177 is divisble by 7
2180 is divisble by 5
2184 is divisble by 7
2185 is divisble by 5
2190 is divisble by 5
2191 is divisble by 7
2195 is divisble by 5
2198 is divisble by 7
2200 is divisble by 5
2205 is divisble by 7
2210 is divisble by 5
2212 is divisble by 7
2215 is divisble by 5
2219 is divisble by 7
2220 is divisble by 5
2225 is divisble by 5
2226 is divisble by 7
2230 is divisble by 5
2233 is divisble by 7
2235 is divisble by 5
2240 is divisble by 7
2245 is divisble by 5
2247 is divisble by 7
2250 is divisble by 5
2254 is divisble by 7
2255 is divisble by 5
2260 is divisble by 5
2261 is divisble by 7
2265 is divisble by 5
2268 is divisble by 7
2270 is divisble by 5
2275 is divisble by 7
2280 is divisble by 5
2282 is divisble by 7
2285 is divisble by 5
2289 is divisble by 7
2290 is divisble by 5
2295 is divisble by 5
2296 is divisble by 7
2300 is divisble by 5
2303 is divisble by 7
2305 is divisble by 5
2310 is divisble by 7
2315 is divisble by 5
2317 is divisble by 7
2320 is divisble by 5
2324 is divisble by 7
2325 is divisble by 5
2330 is divisble by 5
2331 is divisble by 7
2335 is divisble by 5
2338 is divisble by 7
2340 is divisble by 5
2345 is divisble by 7
2350 is divisble by 5
2352 is divisble by 7
2355 is divisble by 5
2359 is divisble by 7
2360 is divisble by 5
2365 is divisble by 5
2366 is divisble by 7
2370 is divisble by 5
2373 is divisble by 7
2375 is divisble by 5
2380 is divisble by 7
2385 is divisble by 5
2387 is divisble by 7
2390 is divisble by 5
2394 is divisble by 7
2395 is divisble by 5
2400 is divisble by 5
2401 is divisble by 7
2405 is divisble by 5
2408 is divisble by 7
2410 is divisble by 5
2415 is divisble by 7
2420 is divisble by 5
2422 is divisble by 7
2425 is divisble by 5
2429 is divisble by 7
2430 is divisble by 5
2435 is divisble by 5
2436 is divisble by 7
2440 is divisble by 5
2443 is divisble by 7
2445 is divisble by 5
2450 is divisble by 7
2455 is divisble by 5
2457 is divisble by 7
2460 is divisble by 5
2464 is divisble by 7
2465 is divisble by 5
2470 is divisble by 5
2471 is divisble by 7
2475 is divisble by 5
2478 is divisble by 7
2480 is divisble by 5
2485 is divisble by 7
2490 is divisble by 5
2492 is divisble by 7
2495 is divisble by 5
2499 is divisble by 7
2500 is divisble by 5
2505 is divisble by 5
2506 is divisble by 7
2510 is divisble by 5
2513 is divisble by 7
2515 is divisble by 5
2520 is divisble by 7
2525 is divisble by 5
2527 is divisble by 7
2530 is divisble by 5
2534 is divisble by 7
2535 is divisble by 5
2540 is divisble by 5
2541 is divisble by 7
2545 is divisble by 5
2548 is divisble by 7
2550 is divisble by 5
2555 is divisble by 7
2560 is divisble by 5
2562 is divisble by 7
2565 is divisble by 5
2569 is divisble by 7
2570 is divisble by 5
2575 is divisble by 5
2576 is divisble by 7
2580 is divisble by 5
2583 is divisble by 7
2585 is divisble by 5
2590 is divisble by 7
2595 is divisble by 5
2597 is divisble by 7
2600 is divisble by 5
2604 is divisble by 7
2605 is divisble by 5
2610 is divisble by 5
2611 is divisble by 7
2615 is divisble by 5
2618 is divisble by 7
2620 is divisble by 5
2625 is divisble by 7
2630 is divisble by 5
2632 is divisble by 7
2635 is divisble by 5
2639 is divisble by 7
2640 is divisble by 5
2645 is divisble by 5
2646 is divisble by 7
2650 is divisble by 5
2653 is divisble by 7
2655 is divisble by 5
2660 is divisble by 7
2665 is divisble by 5
2667 is divisble by 7
2670 is divisble by 5
2674 is divisble by 7
2675 is divisble by 5
2680 is divisble by 5
2681 is divisble by 7
2685 is divisble by 5
2688 is divisble by 7
2690 is divisble by 5
2695 is divisble by 7

In [ ]:
12.Fizz Buzz

In [13]:
for x in range(5):
    if x%5==0:
        print("bizz")
        continue
    elif x%3==0:
        print("fizz")
        continue
    else :
        print(x)

bizz
1
2
fizz
4

In [ ]:
13.Write a Python program that prints each item and its corresponding type from the following list.
Sample List : datalist = [1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]

In [14]:
data_list=[1452, 11.23, 1+2j, True, 'w3resource', (0, -1), [5, 12], {"class":'V', "section":'A'}]
for list in data_list:
    print(type(list))
    print(list)

<class 'int'>
1452
<class 'float'>
11.23
<class 'complex'>
(1+2j)
<class 'bool'>
True
<class 'str'>
w3resource
<class 'tuple'>
(0, -1)
<class 'list'>
[5, 12]
<class 'dict'>
{'class': 'V', 'section': 'A'}

In [ ]:
14.Write a Python program to convert temperatures to and from celsius, fahrenheit.

In [15]:
class Temp:
    celsius=0
    farenhiet=0
    def __init__(self,cel,far):
        self.cel=cel
        self.far=far
    def covertCelsius(self):
        celsius=(self.far-32)*5/9
        print("The celsius coverted from farenhiet is :",celsius)
    def convertFarenheit(self):
        farenhiet=(self.cel*9/5)+32
        print("The Farenhiet coverted from celsius is :",farenhiet)
        
temp1=Temp(50,120)
cel1=temp1.covertCelsius()
far1=temp1.convertFarenheit()

The celsius coverted from farenhiet is : 48.888888888888886
The Farenhiet coverted from celsius is : 122.0

In [ ]:
15. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [16]:
i=0
while i<6 :
    i=i+1
    if i==3:
        continue
    elif i==6:
        continue
    else:
        print(i)

1
2
4
5

In [ ]:
16.Create a Cricle class and intialize it with radius. Make two methods getArea and getCircumference inside this class

In [17]:
class Circle:
    area=0
    circum=0
    def __init__(self,radius):
        self.radius=radius
    def getArea(self):
        area=3.14*self.radius*self.radius
        print("The area of the cirlce is :",area)
    def getCircum(self):
        circum=2*3.14*self.radius
        print("The circumfrence of the circle is:",circum)
        
radius1=Circle(9)
area1=radius1.getArea()
cir2=radius1.getCircum()

The area of the cirlce is : 254.34
The circumfrence of the circle is: 56.52

In [ ]:
17.Create a Temprature class. Make two methods

In [18]:
class Temp:
    celsius=0
    farenhiet=0
    def __init__(self,cel,far):
        self.cel=cel
        self.far=far
    def covertCelsius(self):
        celsius=(self.far-32)*5/9
        print("The celsius coverted from farenhiet is :",celsius)
    def convertFarenheit(self):
        farenhiet=(self.cel*9/5)+32
        print("The Farenhiet coverted from celsius is :",farenhiet)
        
temp1=Temp(50,120)
cel1=temp1.covertCelsius()
far1=temp1.convertFarenheit()

The celsius coverted from farenhiet is : 48.888888888888886
The Farenhiet coverted from celsius is : 122.0

In [ ]:
18.Create a Student class and initialize it with name and roll number. Make methods

In [19]:
class Student:
    def  __init__(self,name,rollno):
        self.name=name
        self.rollno=rollno
class Display(Student):
    def __init__(self,name,rollno,age,marks):
        super().__init__(name,rollno)
        self.age=age
        self.marks=marks
    def disp(self):
        print("The student name: ",self.name,'\n',"The student age is :",self.age,'\n',"The student roll# is : ",self.rollno,'\n',"The student marks acquired is: ",self.marks)
        
student_1=Display("Tenzin",32,22,"B-")
student_2=Display("Ravi",31,24,"A+")
disp1=student_1.disp()
disp2=student_2.disp()

The student name:  Tenzin
 The student age is : 22
 The student roll# is :  32
 The student marks acquired is:  B-
The student name:  Ravi
 The student age is : 24
 The student roll# is :  31
 The student marks acquired is:  A+

In [ ]:
19.Create a class Mathematics with different mathematical operations like addition, subtraction...etc and output the deseried results

In [20]:
class Mathematics:
    addnum=0
    subnum=0
    mulnum=0
    divnum=0
    def __init__(self,num1,num2):
        self.num1=num1
        self.num2=num2
    def addNum(self):
        addnum=self.num1+self.num2
        print("The total number added is : ",addnum)
    def subNum(self):
        subnum=self.num1-self.num2
        print("The total number subtracrted is : ",subnum)
    def mulNum(self):
        mulnum=self.num1*self.num2
        print("The total number multiplied is : ",mulnum)
    def divNum(self):
        divnum=self.num1/self.num2
        print("The total number divided is : ",divnum)

number=Mathematics(10,5)
number.addNum()
number.subNum()
number.mulNum()
number.divNum()

The total number added is :  15
The total number subtracrted is :  5
The total number multiplied is :  50
The total number divided is :  2.0

In [ ]:
20. A Bike Rental System

In [21]:
import datetime


class Bikeshop:

    def __init__(self, stock):
        self.stock = stock

    def check_inventory(self):
        print("Current stock: {}".format(self.stock))

    def issueBill(self):
        print("hi")

class Customer(Bikeshop):

    def rentBikehourly(self, thetime):
        self.time = thetime
        b = int(input("Please enter number of bikes you want: "))
        if b > self.stock:
            print("Sorry we don't have that many bikes")
        elif b <= self.stock and b > 0:
            print("The transaction is being processed")
            print("Transaction complete")
        self.stock -= b

    def rentBikeDaily(self, the_time):
        self.time = the_time
        b = int(input("Please enter number of bikes you want: "))
        if b > self.stock:
            print("Sorry we don't have that many bikes")
        elif b <= self.stock and b > 0:
            print("The transaction is being processed")
            print("Transaction complete")
        self.stock -= b

    def rentBikeWeekly(self, the_day):
        self.time = the_day
        b = int(input("Please enter number of bikes you want: "))
        if b > self.stock:
            print("Sorry we don't have that many bikes")
        elif b <= self.stock and b > 0:
            print("The transaction is being processed")
            print("Transaction complete")
        self.stock -= b

    def return_bike(self, return_time):
        self.thereturntime = return_time



myshop = Bikeshop(13)
myshop.check_inventory()
myshop.check_inventory()
Customer.rentBikeDaily(myshop,3)
myshop.check_inventory()
Customer.rentBikeWeekly(myshop,3)

Current stock: 13
Current stock: 13
Please enter number of bikes you want: 10
The transaction is being processed
Transaction complete
Current stock: 3
Please enter number of bikes you want: 5
Sorry we don't have that many bikes

In [ ]:
21. SIMPLE AND ADVANCE Calc

In [3]:
import math 
    
class SimpleCalc:
    total=0
    def __init__(self,num1,num2):
            self.num1=num1
            self.num2=num2
            
    def add(self):
                total=self.num1+self.num2
                print("The total sum of the number is :",total)
        
    def sub(self):
                total=self.num1-self.num2
                print("The total subtracted number is:",total)
        
    def mul(self):
                total=self.num1*self.num2
                print("The total number multiplied is :",total)
        
    def div(self):
                total=self.num1/self.num2
                print("The total number divided is :",total)
        
    def fact(self):
                print("The Greatest Factorial of",self.num1,"is :",end=" ")
                print(math.factorial(self.num1))
                print("The Greatest Factorial of",self.num2,"is :",end=" ")
                print(math.factorial(self.num2))
        
    def rd(self):
                print("The nearest round of is ",math.ceil(self.num1))
                print("The farthest round of is ",math.floor(self.num1))
                print("The nearest round of is ",math.ceil(self.num2))
                print("The farthest round of is ",math.floor(self.num2))
            
class AdvanceCalc():
    total=0
    def __init__(self,num1):
        self.num1=num1
            
            
    def squareroot(self):
                print("The square root of the 1st Number is :",math.sqrt(self.num1))
                print("The square root of the 2nd Number is :",math.sqrt(self.num2))
        
        
    def great(self,num2):
                print("The greates common factor of the two number is:",math.gcd(self.num1,self.num2))
        
            
    def tanValue(self):
                total=math.sin(self.num1)/math.cos(self.num2)
                print("The value of tan is: ",total)
        
        
    def sinValue(self):
                total=math.tan(self.num1)*math.cos(self.num1)
                print("The value of sin is: ",total)
        
        
    def cosValue(self):
                total=math.cos(self.num1)/math.tan(self.num2)
                print("The value of cos is: ",total)
        
            
    def logValue(self):
                total=math.log10(self.num1)+math.log10(self.num2)
                print("The total value is :",total)
                
x=float(input("Please type 1 for Simple Calculations or 2 for Advanced Calculation:"))    

if x==1:
        output=SimpleCalc(a,b)
        y=int(input("Please enter what calculations u want add,sub,mul,div,fact,round:")
        
        a= float(input("Please enter the first number: "))
        b= float(input("Please enter the second Number"))
             
        if y="add":
                print(output.add())
        elif y=="sub":
                print(output.sub())
        elif y=="mul":
            print(output.mul())
        elif y=="div":
            print(output.div())
        elif y=="fact":
            print(output.fact())
        elif y=="round":
            print(output.rd()) 
        else:
            print("Please enter the correct mathematical operations!!")

elif x==2:
        z=int(input("Please type calcultions u want squareroot,gcd,tan,cos,sin,log:")
        c=int(input("Please enter the number for advance calculations"))
        d=int(input("Please enter the number for advance calculations"))      
        output1=AdvanceCalc(c,d)
        if z=="squareroot":
            print(output1.squareroot())
        elif z=="gcd":
            print(output1.great(20))
        elif z=="tan":
            print(output1.tanValue())
        elif z=="cos":
            print(output1.sinValue())
        elif z=="sin":
            print(output1.cosValue())
        elif z=="log":
            print(output1.logValue())
        else:
            print("Please enter the correct mathematical operations to be operated !")

else:
    print("Please enter the corerct numbers ")

SyntaxError: invalid syntax (<ipython-input-3-697c6d14add4>, line 77)

In [ ]:
22. Display only the dates from a text file using regular expressoins

In [4]:
import re
import datetime as dt
from datetime import date
from datetime import time
from datetime import datetime

mydata = open('C:/Users/Tenzin topgyal/Desktop/study material/dates.txt', 'r')
txt = mydata.read()

the_main_list = []
firstformat = r"\d+/\d+/\d+"
secondformat = r"\d+-\d+-\d+"

def todate(format, thesplit):
    founddates = re.findall(format, txt)
    successfulConversion = 0
    for i in founddates:
        x = re.split(thesplit, i)
        year = int(x[2])
        day = int(x[1])
        month = int(x[0])

        if len(str(year)) == 2:
            year += 1900
        try:
            a = datetime(year, month, day)
            the_main_list.append(a)
            successfulConversion += 1
        except ValueError:
            print("Error at position: " + i)

    print("Total list size: {} \nTotal Sorted: {}\n".format(len(founddates), successfulConversion))



todate(firstformat, "/")
todate(secondformat, "-")
the_main_list.sort()
stripped1 = [datetime.strftime(thedate, "%m/%d/%Y") for thedate in the_main_list]
print(stripped1)
print("Total dates extracted: {}".format(len(stripped1)))


thirdformat = r"([a-zA-Z]+)  (\d+)  (\d+)"
third = re.findall(thirdformat,txt)

Error at position: 210/21/79
Error at position: 9/36/308
Total list size: 122
Total Sorted: 120

Error at position: 708-810-7787
Total list size: 5
Total Sorted: 4

['04/10/1971', '05/18/1971', '07/08/1971', '07/11/1971', '09/12/1971', '01/26/1972', '05/13/1972', '06/10/1972', '07/20/1972', '02/14/1973', '12/01/1973', '02/24/1974', '04/11/1974', '04/12/1974', '05/04/1974', '07/07/1974', '02/28/1975', '04/09/1975', '07/29/1975', '09/27/1975', '11/22/1975', '02/11/1976', '09/02/1976', '09/20/1976', '10/13/1976', '05/04/1977', '05/21/1977', '06/20/1977', '07/11/1977', '02/03/1978', '05/18/1978', '08/04/1978', '08/11/1978', '07/06/1979', '09/06/1979', '04/22/1980', '01/14/1981', '06/29/1981', '08/09/1981', '09/19/1981', '04/12/1982', '04/13/1982', '07/04/1982', '08/16/1982', '08/20/1982', '09/22/1982', '10/16/1982', '12/08/1982', '03/15/1983', '08/06/1983', '08/22/1983', '11/14/1983', '07/25/1984', '09/17/1984', '03/31/1985', '05/11/1985', '06/18/1985', '11/03/1985', '03/07/1986', '07/18/1986', '07/27/1986', '10/24/1986', '12/26/1986', '01/21/1987', '04/12/1987', '06/24/1987', '06/28/1987', '10/11/1987', '12/04/1987', '12/05/1987', '05/24/1988', '04/05/1989', '04/13/1989', '08/26/1989', '09/22/1989', '10/24/1989', '03/03/1990', '05/24/1990', '11/05/1990', '12/08/1990', '03/31/1991', '04/19/1991', '05/24/1991', '06/20/1991', '07/06/1991', '07/15/1991', '10/29/1991', '02/22/1992', '06/13/1992', '07/17/1992', '08/16/1992', '12/15/1992', '03/25/1993', '06/05/1993', '06/12/1994', '07/29/1994', '08/14/1994', '03/14/1995', '06/17/1995', '07/24/1995', '10/13/1995', '02/06/1996', '02/27/1996', '10/02/1996', '08/09/1997', '10/05/1997', '12/08/1997', '02/15/1998', '04/24/1998', '07/21/1998', '08/01/1998', '10/04/1998', '12/22/1998', '01/05/1999', '09/14/2000', '04/13/2002', '07/18/2002', '04/08/2004', '02/11/2006', '04/27/2006', '12/05/2010', '01/25/2011', '07/20/2011', '05/12/2012']
Total dates extracted: 124

In [ ]:
23. Write a python program which creates a database

In [2]:
import sqlite3

conn= sqlite3.connect('Restaurants.db')
print("!!CREATED RESTAURANTS DATABASE SUCCESFULLY!!")

conn.execute('''CREATE TABLE IF NOT EXISTS MYRESTAURANTS(SR INTEGER PRIMARY KEY  AUTOINCREMENT NOT NULL,
                                         RESTAURANT_NAME        VARCHAR   NOT NULL, 
                                         FOOD_TYPE              VARCHAR   NOT NULL,
                                         DISTANCE               INT       NOT NULL,
                                         LAST_VISIT             VARCHAR   NOT NULL,
                                         LIKED                  INTEGER);''')
conn.execute("INSERT INTO MYRESTAURANTS(RESTAURANT_NAME,FOOD_TYPE,DISTANCE,LAST_VISIT,LIKED)\
               VALUES('EAT STREET', 'NORTH INDIAN', 5, '10/12/2019',0)")

conn.execute("INSERT INTO MYRESTAURANTS(RESTAURANT_NAME,FOOD_TYPE,DISTANCE,LAST_VISIT,LIKED)\
               VALUES('PUNJABI DHABA', 'NORTH INDIAN', 2, '10/05/2019',1)")

conn.execute("INSERT INTO MYRESTAURANTS(RESTAURANT_NAME,FOOD_TYPE,DISTANCE,LAST_VISIT,LIKED)\
               VALUES('WOW MOMO', 'CHINESE ', 15, '31/01/2019',0)")

conn.execute("INSERT INTO MYRESTAURANTS(RESTAURANT_NAME,FOOD_TYPE,DISTANCE,LAST_VISIT,LIKED)\
               VALUES('UDUPI', 'SOUTH INDIAN', 45, '05/12/2019',1)")

conn.commit()
print("Records created succesfully !!")
conn.close()

!!CREATED RESTAURANTS DATABASE SUCCESFULLY!!
Records created succesfully !!

In [14]:
import sqlite3
conn= sqlite3.connect("Restaurants.db")
print("Opened database succesfully !")

cursor= conn.execute("SELECT RESTAURANT_NAME,LIKED FROM MYRESTAURANTS WHERE LIKED==0")
for column in cursor:
    for i in column:
        i=0
        print("i dont like = ",column[i])



cursor= conn.execute("SELECT RESTAURANT_NAME,LIKED FROM MYRESTAURANTS WHERE LIKED==1")
for column in cursor:
    for i in column:
        i=0
        print("i like these restaurnats = ",column[i])
        

print("Operaion Success")
conn.close()

Opened database succesfully !
i dont like =  EAT STREET
i dont like =  EAT STREET
i dont like =  WOW MOMO
i dont like =  WOW MOMO
i dont like =  EAT STREET
i dont like =  EAT STREET
i dont like =  WOW MOMO
i dont like =  WOW MOMO
i dont like =  EAT STREET
i dont like =  EAT STREET
i dont like =  WOW MOMO
i dont like =  WOW MOMO
i like these restaurnats =  PUNJABI DHABA
i like these restaurnats =  PUNJABI DHABA
i like these restaurnats =  UDUPI
i like these restaurnats =  UDUPI
i like these restaurnats =  PUNJABI DHABA
i like these restaurnats =  PUNJABI DHABA
i like these restaurnats =  UDUPI
i like these restaurnats =  UDUPI
i like these restaurnats =  PUNJABI DHABA
i like these restaurnats =  PUNJABI DHABA
i like these restaurnats =  UDUPI
i like these restaurnats =  UDUPI
Operaion Success